/*
    Override theme CSS styles by placing them in this file

    Note - all themes must include <../../..>/local/css/local.css as the last import.

    position: unset;
    padding: unset;
    background-color: unset;
    top: unset;
    left: unset;

    font-size: unset;
    line-height: unset;
    padding-bottom: unset;
    background-image: none;
*/
#mainImage {
    position: unset;
    top: unset;
    left: unset;
    background-color: #e4e4e4;
    padding: 10px 20px 10px 20px;
}
.titleTypeListItem {
    padding: 0 0.4em;
    font-size: 0.8em;
    background: #f4f4f4;
}
.listViewCard {
    width: 100%;
}
#has_measurements-Measurement-List p {
    display: inline;
}
.listViewCard ~ .listViewCard:before {
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    border-top: 1px solid #dfe6e5;
}
.contextLink {
    background: #dfe6e5;
}